RewriteEngine On

# Serve static fallbacks for universal links paths
RewriteRule ^invite/.* /invite/index.html [L]
RewriteRule ^join-team.* /join-team/index.html [L]                                                                                                                                                                                                                                                                                                                                                                                                                                      